@font-face {
    font-family: 'MyriadProMy';
    font-weight: normal;
    src: url('../fonts/MyriadProRegular/MyriadProRegular.eot');
    src: url('../fonts/MyriadProRegular/MyriadProRegular.eot') format('embedded-opentype'),
         url('../fonts/MyriadProRegular/MyriadProRegular.woff') format('woff'),
         url('../fonts/MyriadProRegular/MyriadProRegular.ttf') format('truetype')
}
@font-face {
    font-family: 'MyriadProMy';
    font-weight: 600;
    src: url('../fonts/MyriadProSemiBold/MyriadProSemiBold.eot');
    src: url('../fonts/MyriadProSemiBold/MyriadProSemiBold.eot') format('embedded-opentype'),
         url('../fonts/MyriadProSemiBold/MyriadProSemiBold.woff') format('woff'),
         url('../fonts/MyriadProSemiBold/MyriadProSemiBold.ttf') format('truetype')
}
@font-face {
    font-family: 'PTSansCaption';
    src: url('../fonts/PTSansCaption/PTSansCaptionRegular.eot') format('embedded-opentype'),
         url('../fonts/PTSansCaption/PTSansCaptionRegular.woff') format('woff'),
         url('../fonts/PTSansCaption/PTSansCaptionRegular.otf') format('otf')
}