html{
    height: 100%;
}
body{
    font-family: "MyriadProMy", sans-serif;	
    color: #0d7131;
    margin: 0;
    padding: 0;
    font-size: 16px;
    height: 100%;
}
ol, ul {list-style: none;}

blockquote, q {quotes: none;}
:focus {outline: 0;}
a { outline: none; -moz-outline: 0;}
a:active { outline: none; -moz-outline: 0; }
a:focus { outline: none; -moz-outline: 0; }
input,select,button,.select2-container .select2-selection--single{
    outline: none !important;
    -moz-outline: 0;
}

h1,h2,h3,p,ul{
    margin: 0;
    padding: 0;
}
h1{
    font-size: 30px;
    margin: 0px 0px 15px 0px;
    font-weight: bold;
    text-align: left;
}
a{
    color: #fff;
}
a:hover{
    text-decoration: none;
}
label{
    font-weight: normal;
}
.wrap{
    min-height: 100%;
    width: 100%;
    background: url('../img/bg.jpg') 50% 0 no-repeat #f5a309;
    background-size: cover;
    position: relative;
}
.wrap-container{
    box-sizing:border-box;
    width:1030px;
    margin-left: auto;
    margin-right: auto;
    position: relative;    
    padding-bottom: 40px;
}
header{
    height: 123px;
    position: relative;
    text-align: center;
    z-index: 3;
}
.logo-lipton, .logo-kfc, .menu{
    display: inline-block;
    vertical-align: top;
}
.logo-lipton{
    width: 141px;
    height: 139px;
    background: url('../img/lipton.png') 50% 0 repeat-x transparent;
    margin: 0 5px 0 -18px;
}
.logo-kfc{
    width: 105px;
    height: 157px;
    background: url('../img/kfc.png') 50% 0 repeat-x transparent;
    margin: 10px 0 0 22px;
}
.menu ul{
    display: inline-block;
    padding-top: 38px;
}
.menu li{
    float: left;
    padding: 8px 0px 6px 0px;
    list-style: none;
    text-align: center;
    background: url('../img/menu-bg.png') 50% 0 repeat-x transparent;
    width: 160px;
    height: 36px;
    box-sizing: border-box;
    border-left: 1px solid #ffa41a;
}
.menu li:last-child{
    border-right: 1px solid #ffa41a;
}
.menu .item,.menu .item .link{
    color: #cc0033;
    text-decoration: none;
    font-weight: 600;
}
.header-logo{
    position: absolute;
    display: block;
    background: url('../img/logo.png') 50% 0 no-repeat transparent;
    width: 430px;
    height: 220px;
    top: 0;
    z-index: 10;
    left: 0;
}
.wrap-content{
    min-height: 550px;
    padding-bottom: 50px;
}
.content .content-inner{
    margin: 0 auto;
    position: relative;
    z-index: 5;
}
.wrap-footer{
    width: 100%;
    min-width: 1030px;
    margin-top: 20px;
    background: #c4122f;
    border-top: 2px solid #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.footer{
    text-align: center;
}
.footer-menu{
    display: inline-block;
    padding: 33px 0;
}
.footer-menu li{
    display: inline-block;
    padding: 1px 15px;
    border-left: 2px solid #fff;
}
.footer-menu li:first-child{
    border-left: none;
}
.footer-menu li a{
    color: #fff;
    text-decoration: none;
}
.footer-menu li a:hover{
    text-decoration: underline;
    color: #ffea00;
}

/* fields and btns && other helpers*/

.input-block input,
.input-block textarea{
    background: #fee25d;
    border: 1px solid rgba(255, 255, 255, 0.65);
    border-radius: 13px;
    box-shadow: 0 0 20px #fff;
    -webkit-box-shadow: 0 0 20px #fff;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    box-sizing: border-box;
    font-family: "PTSansCaption";
}
.input-block textarea{
    background: transparent;
}

.input-block input::-webkit-input-placeholder,
.input-block textarea::-webkit-input-placeholder {
    font-size: 18px;
    color: #0d7131;
}
.input-block input:-moz-placeholder,
.input-block textarea:-moz-placeholder {
    font-size: 18px;
    color: #0d7131;
    opacity: 1;
}
.btn-primary,
.btn-default{
    background: url('../img/btn-bg.png') 50% 50% repeat-x #ECFFB8;
    border-radius: 25px;
    border: none;
    padding: 13px 20px;
    font-size: 19px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    height: 45px;
    box-sizing: border-box;
    text-shadow: 0px 0px 7px rgba(1, 1, 1, 0.5);
}
.btn-default{
    background: #004524;
    color: #295234;
    border: 1px solid #295234;
    text-decoration: none;
    font-weight: normal;
}
.captcha-block>div,
.captcha-block>input{
    display: inline-block;
    vertical-align: middle;
}
.captcha-img{
    background: #fee25d;
    border: 1px solid rgba(255, 255, 255, 0.65);
    border-radius: 13px;
    box-shadow: 0 0 20px #fff;
    -webkit-box-shadow: 0 0 20px #fff;
    font-size: 0;
    font-weight: bold;
    color: #295234;
    text-align: center;
    box-sizing: border-box;
}
.captcha-reload a{
    background: url('../img/captcha-reload.png') 50% 50% no-repeat transparent;
    width: 30px;
    height: 30px;
    display: block;
    margin: 0 20px;
}
div.browse-wrap {
    //margin:10px;
    cursor:pointer;
    overflow:hidden;
    position:relative;
}
input.upload {
    right:0;
    margin:0;
    bottom:0;
    padding:0;
    opacity:0;
    height:300px;
    outline:none;
    cursor:inherit;
    position:absolute;
    font-size:1000px !important;
}
span.upload-path {
    text-align: left;
    margin: 10px;
    display: block;
    font-size: 80%;
}
.link-upload{
    color: #295133;
    text-decoration: underline;
}
.link-upload:hover{
    text-decoration: none;
}
.input-radio-block{
    display: inline-block;
    width: 8px;
    height: 8px;
    border: 1px double #295234;
    border-radius: 8px;
    cursor: pointer;
    padding: 3px;
    margin-right: 5px;    
    vertical-align: middle;
}
.input-radio-block:last-child{
    margin-left: 25px;
}
.input-radio-block.radio-on:before{
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    background: #295234;
    border-radius: 8px;
}
.input-radio-block input{
    display: none !important;
}


/* helpers */
.clearfix:after{content:".";clear:both;display:block;height:0;font-size:0;visibility:hidden}
.mtop-10{margin-top: 10px;}
.mtop-15{margin-top: 15px;}
.mtop-20{margin-top: 20px;}
.mtop-30{margin-top: 30px;}
.mtop-50{margin-top: 50px;}
.text-center{text-align:center;}
.text-left{text-align:left;}
.text-right{text-align:right;}
.inline-block{display: inline-block;}

/* feedback page */
.content-feedback{
    padding-bottom: 120px;
}
.content-feedback .content-inner{
    width: 580px;
}
.content-feedback .content-inner h1{
    margin-left: -25px;
}
.content-feedback .input-block{
    margin-bottom: 25px;
    vertical-align: middle;
}
.content-feedback .input-block label{
    width: 260px;
    margin-right: 25px;
    margin-left: 0;
    display: inline-block; 
    vertical-align: middle;
}
.content-feedback .input-block input,
.content-feedback .input-block select{
    width: 290px;
    display: inline-block;
}
.content-feedback .input-block textarea{
    height: 200px;
    margin-top: 20px; 
    resize: none;
}
.content-feedback .captcha-block{
    //margin-left: 80px;
}
.content-feedback .captcha-block input[type="text"]::-webkit-input-placeholder {
    color: #fff;
    font-weight: bold;
    text-align: center;
}
.content-feedback .captcha-block input[type="text"]::-moz-placeholder {
    color: #fff;
    font-weight: bold;
    text-align: center;
    opacity: 1;
}
.content-feedback .captcha-block input[type="text"] {
    color: #fff;
    font-weight: bold;
    width: 345px;
    text-align: center;
}
.content-feedback .submit-block{
    margin-top: 20px;
    text-align: center;
}

.content-feedback .submit-block input{
    background: url('../img/submit.png') 50% 50% no-repeat transparent;
    border: none;
    cursor: pointer;
    height: 69px;
    width: 192px;
    box-sizing: border-box;
}


/* winners page */

.content-winners{
    padding-bottom: 100px;
}
.content-winners .content-inner{
    width: 640px;
}
.content-winners .content-inner h1{
    float: left;
}
.content-winners .filter-block{
    text-align: right;
}
.content-winners .search-input{
    display: inline-block;
    padding: 5px 9px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.65);
    border-radius: 13px;
    box-shadow: 0 0 20px #fff;
    -webkit-box-shadow: 0 0 20px #fff;
    padding: 2px 10px 2px 25px;
    box-sizing: border-box;
    color: #fff;
}
.content-winners .search-input input[type="text"]{
    background: none;
    border: none;
    vertical-align: middle;
    width: 215px;
    font-size: 22px;
    font-weight: 400;
    color: #fff;
    font-family: "MyriadProMy", sans-serif;
}
.content-winners .search-input input[type="text"]::-webkit-input-placeholder {
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    font-family: "MyriadProMy", sans-serif;
}
.content-winners .search-input input[type="text"]::-moz-placeholder {
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    font-family: "MyriadProMy", sans-serif;
    opacity: 1;
}
.content-winners .search-input input[type="submit"]{
    background: url(../img/search.png) 50% 50% no-repeat transparent;
    border: none;
    width: 25px;
    height: 20px;
    vertical-align: middle;
    cursor: pointer;
}
.winners-table{
    width: 100%;
    margin-top: 40px;
}
.content-winners .table-tr{
    display: table;
    width: 100%;
    border-bottom: 1px solid #fff;
    font-size: 0;
}
.content-winners .table-tr>div{
    display: inline-block;
    vertical-align: middle;
    padding: 15px;
    font-size: 14px;
}
.content-winners .table-tr.table-thead>div {
    padding: 5px 15px;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
}
.content-winners .table-tr>div:nth-child(1){
    width: 30%;
    padding-left: 10px;
    box-sizing: border-box;
}
.content-winners .table-tr>div:nth-child(2){
    width: 40%;
    box-sizing: border-box;
    text-align: center;
}
.content-winners .table-tr>div:nth-child(3){
    width: 30%;
    box-sizing: border-box;
    padding-right: 10px;
    text-align: right;
}
.pager {
    margin-top: 30px;
    width: 100%;
    height: 41px;
    text-align: center;
}
.pager .item {
    display: inline-block;
    vertical-align: middle;
    padding: 2px 5px;
    text-align: center;
    list-style: none;
}
.pager .item, .pager .item a {
    font-family: "PTSansCaption";
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #0d7131;
}
.pager .item a {
    padding: 10px 1px;
    display: inline-block;
}
.pager .current-item a{
    color: #fff;
}
.pager-left a,
.pager-right a{
    width: 50px;
    height: 50px;
    display: inline-block;
}
.pager-left a{
    background: url(../img/pager-arr-l.png) 50% 50% no-repeat transparent;
}
.pager-right a{
    background: url(../img/pager-arr-r.png) 50% 50% no-repeat transparent;
}
.pager-left{
    margin-right: 15px;
}
.pager-right{
    margin-left: 15px;
}


/* index page */

.content-index{
    padding-bottom: 100px;
}
.content-index .content-inner{
    width: 625px;
    z-index: 2;
}
.content-index .content-inner .index-prizes{
    width: 793px;
    height: 484px;
    margin-top: -60px;
    margin-left: -140px;
    background: url(../img/index-bg.png) 50% 50% no-repeat transparent;
}
.content-index .content-inner .rules-block{
    width: 355px;
    margin-top: -15px;
    float: right;
    text-align: center;
}
.content-index .content-inner .rules-btn{
    display: inline-block;
    width: 354px;
    height: 126px;
    text-decoration: none;
    background: url(../img/index-btn.png) 50% 50% no-repeat transparent;
}

.content-index .content-inner .rules-block p{
    color: #c4122f;
    font-size: 16px;
}


/* about page */

.content-about{
    padding-bottom: 75px;
}
.content-about .content-inner{
    width: 630px;
}
.content-about .content-inner h1{
    margin-bottom: 20px;
}
.content-about .scretch-types>div{
    width: 50%;
    float: left;
}
.content-about .scretch-types .scretch-info{
    width: 290px;
    background: #fff7c3;
    border: 2px solid #fff;
    border-radius: 25px;
    text-align: center;
    padding: 10px;
    font-weight: 600;
    color: #b71b39;
    box-sizing: border-box;
    display: inline-block;
}
.content-about .scretch-type-2{
    text-align: right;
}
.content-about .scretch-types .product-info{
    margin-top: 35px;
    display: block;
    width: 100%;
    height: 430px;
    background: url(../img/food-mix-1.png) -10px 0 no-repeat transparent;
}
.content-about .scretch-type-2 .product-info{
    background: url(../img/food-mix-2.png) 22px 0 no-repeat transparent;
}
.content-about .mehanika{
    margin: -140px -25px 0 -15px;
    display: block;
    width: 655px;
    height: 131px;
    background: url(../img/mehanika.png) 50% 50% no-repeat transparent;
}
.content-about .about-note{
    margin: 10px -25px 0 0;
    color: #0d7031;
    font-size: 16px;
}


/* modal fancy */
.fancybox{
    display: none;
}
.j7-modal{
    display: none;
    width: 500px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.fancybox-overlay {  
    background-image: none !important;
    background: rgba(0, 0, 0, 0.4) !important;
}
.fancybox-wrap .fancybox-skin{
    background: #fffed4;
    border: 2px solid #d8bc22;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(165, 196, 94, 0.78) inset;
    -webkit-box-shadow: 0 0 15px rgba(165, 196, 94, 0.78) inset;
    color: #fff;
    font-size: 20px;
    color: #158a41;
    text-align: center;
}
.fancybox-wrap .fancybox-skin .fancybox-inner{
    min-height: 230px;
    padding-top: 45px;
    box-sizing: border-box;
}
.fancybox-wrap .fancybox-title{
    font-size: 31px;
    font-weight: 600;
    font-family: "MyriadProMy", sans-serif;
    margin-bottom: 40px;
}
.fancybox-close {
    position: absolute;
    top: auto;
    bottom: -22px;
    right: 50%;
    width: 46px;
    height: 44px;
    cursor: pointer;
    z-index: 8040;
    display: block;
    margin-right: -23px;
}
#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-image: url('../img/close.png');
}